.my-config {
    --darkmode: 1;
    --h-accent: 223;
    --s-accent: 100%;
    --l-accent: 61%;
  }
  
  #mycompanyinputwrapper {
      display: none;
  }
  

  #userwrapper{
    display: none;
  }

  #verdi{
  display: none;
  }

  #createUserbutton{
    display: none;
  }

  #userinputsaftercheckdiv{
    display: none;
  }

  #animation{
    display: none;
  }